/* regole di reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* test struttura pagina
    border: 1px solid red; */
}

/* creazione proprietà clearfix */

.clear::after {
    content: '';
    display: table;
    clear: both;
}

/* caricamento font su tutta la pagina */

body {
    font-family: 'Nunito', sans-serif;
}

/* Stile testo */

p {
    font-size: 17px;
}

h1 {
    margin-top: 15px;
    margin-bottom: 35px;

    font-weight: 900;
    font-size: 36px;

    color: #E53170;
}

a[href*="mailto"] {
    color: #6ECBE3;
    text-decoration: none;
}

/* Inzio modifiche contenuto principale */

main {
    width: 68%;
    margin: auto;

    border: none;
}

/* Inizio modifiche sezione 1 */

#section-1 {
    padding: 25px 0;

    text-align: center;
}

/* fine modifiche */



/* Inizio modifiche sezione 2*/

/* STILE SINGOLA CARD 
   con "width: calc(100% / 3 - 30px)" calcolo la larghezza che dovranno avere le singole card alla quale sottraggo 30 pixel per poter inserire
   il margine necessario a creare divisione tra di loro.
*/

.card {
    float: left;

    width: calc(100% / 3 - 30px);

    margin: 25px 15px;

    color: white;
    background-color: #0F0E17;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.5);
}

img {
    float: left;

    width: 100px;
    height: 100px;
}

/*  INIZIO STILIZZAZIONE INFO-CARD
    aggiunto "width: calc(100% - 100px)" per far in modo che i div con classe info-card non occupassero tutta lo spazio del loro genitore,
    calcolando la lunghezza totale della card sia tutto il div genitore alla quale sottraggo 100 pixel che corrispondono alla dimensione 
    dell'imagine adiacente ai div.
*/

.info-card {
    width: calc(100% - 100px);
    height: 100px;

    padding: 12px 15px;

    float: left;
}

/* aggiunta spaziatura fra i blocchi di testo di ogni singola card */

.info-card div {
    padding-bottom: 4px;
}

/* modifiche di stile ai div di ogni singola card contenenti i nomi */

.info-card *:first-child {
    font-weight: 900;
    font-size: 1.1em;
}