/* regole di reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* test struttura pagina */
    border: 1px solid red;
}

/* creazione proprietà clearfix */

.clear::after {
    content: '';
    display: table;
    clear: both;
}

/* caricamento font su tutta la pagina */

body {
    font-family: 'Nunito', sans-serif;
}